body {
  background-image: url('./assests/Filmicon.png'); 
}

header {
  min-height: 50px;
  flex: 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F7E8;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

#twitter {
  position: absolute;
  top: 667%;
  left: 66%;
  border: 1px solid black;
  height: 250px;
  width: 350px;
  overflow: scroll;
}

#map {
  position: absolute;
  top: 667%;
  left: 3%;
  border: 1px solid black;
  height: 250px;
  width: 350px;
  overflow: scroll;
}

.none {
  display: flex;
  justify-content: center;
  background-color: #F9F7E8;
  text-align: center;
  left: 33%;
  position: relative;
  border: 1px solid black;
  height: 30px;
  width: 350px;
}

.important {
  background-color: #ffe6e6;
}

.showform {
  display: flex;
  justify-content: center;
  background-color: #e55a53;
  text-align: center;
  left: 33%;
  position: relative;
  border: 1px solid black;
  height: 30px;
  width: 350px;
  font-family: 'Oswald', sans-serif;
}

.showform:hover {
  background-color: #e55a53;
}

.addform {
  font-size: 22px;
}

.delete, .edit {
  cursor: pointer;
}

.delete:hover, .edit:hover {
  background-color: #e55a53;
}

.commentbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  left: 33%;
  border: 1px solid black;
  height: 250px;
  width: 350px;
  overflow: scroll;
  background-color: #F9F7E8;
  font-family: 'Oswald', sans-serif;
}

.movieinfo {
  text-align: center;
  display: inline-block;
  height: 400px;
  width: 400px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.movieinfo img {
  display: inline-block;
  width: 200px;
  height: 300px;
}

.overview {
  text-align: center;
}

footer {
  position: relative;
  background-color: #e55a53;
  left: 0px;
  bottom: 0px;
  padding: 15px;
  font-size: 0.9em;
  text-align: center;
  height: 2%;
  width: 100%;
  float: left;
  font-family: 'Oswald', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}